@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Over+the+Rainbow&display=swap");
:root {
  /* font size */
  --fs-sm1: 16px;
  --fs-sm2: 24px;
  --fs-md1: 32px;
  --fs-md2: 52px;
  --fs-lg: 32px; /*64px*/
  --fs-xl: 38px; /*80px*/
  /* color */
  --c1: rgba(255, 255, 255, 0.9);
  --c2: rgba(13, 13, 13, 1);
  --c3: rgba(248, 183, 98, 1);
  --c4: rgba(21, 35, 31, 1);
  --c5: rgba(13, 13, 13, 0.8);
  --c6: rgba(197, 197, 197, 1);
  --c7: rgba(255, 255, 255, 0.8);
  --c8: rgba(0, 115, 177, 1);
  --c9: rgba(255, 255, 255, 0.02);
  --c10: rgba(0, 0, 0, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
}
/* font family */
.ff-rainbow {
  font-family: "Over the Rainbow", cursive;
}
.ff-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
/* font size */
.fs-sm1 {
  font-size: var(--fs-sm1);
}
.fs-sm2 {
  font-size: var(--fs-sm2);
}
.fs-md1 {
  font-size: var(--fs-md1);
}
.fs-md2 {
  font-size: var(--fs-md2);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}
/* line height */
.l-h-17 {
  line-height: 17.6px;
}
.l-h-24 {
  line-height: 24px;
}
.l-h-30 {
  line-height: 30.72px;
}
.l-h-35 {
  line-height: 35.2px;
}
.l-h-62 {
  line-height: 62.4px;
}

/* color */
.color1 {
  color: var(--c1);
}
/* header */
.header {
  min-height: 100vh;
  background-image: url(/assets/images/png/herobg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headerNav {
  height: 90px;
  background-color: var(--c9);
}
.logo {
  width: 100px;
  height: 50px;
}
.gap-36 {
  gap: 36px;
}
.transition-150 {
  transition: all linear 150ms;
}
.transition-300 {
  transition: all linear 300ms;
}
.headLink::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: var(--c1);
  transition: all linear 300ms;
}
.headLink:hover::after {
  left: 0;
  width: 100%;
}
.max-w-1140 {
  max-width: 1140px;
}
/* nav icon */
.z-10 {
  z-index: 10;
}
.nav-icon {
  width: 35px;
  height: 25px;
  display: flex;
}
.nav-icon span {
  height: 5px;
  background: var(--c1);
  border-radius: 4px;
}
.small-navpage {
  background: var(--c8);
  left: -100%;
  z-index: 7;
}
.span1 {
  transform: rotate(45deg) translateY(8px);
}
.span2 {
  transform: rotate(135deg) translate(-6px, 14px);
}
.cursor-pointer {
  cursor: pointer;
}
.max-w-616 {
  max-width: 616px;
}
.letter-spacing-1 {
  letter-spacing: -0.16px;
}
.max-w-448 {
  max-width: 448px;
}
.discount {
  margin-bottom: 24px;
}
.headerBtn {
  width: 140px;
  height: 40px;
  border-radius: 4px;
}

.star {
  width: 40px;
  top: -30px;
  left: 44px;
}
.detergent {
  max-width: 350px;
  width: 100%;
  position: relative;
}
.wave1 {
  background-image: url(/assets/images/png/wave1.png);
  background-position: center;
  background-size: cover;
  height: 88px;
  bottom: 0;
  z-index: 0;
}

/* media query */
@media (min-width: 576px) {
  :root {
    /* font size */
    --fs-sm1: 16px;
    --fs-sm2: 24px;
    --fs-md1: 32px;
    --fs-md2: 52px;
    --fs-lg: 54px; /*64px*/
    --fs-xl: 60px; /*80px*/
  }
  /* header */
  .headerBtn {
    width: 180px;
    height: 54px;
  }
  .wave1 {
    height: 91px;
  }
}
@media (min-width: 768px) {
  /* header */
  .logo {
    width: 146px;
    height: 64px;
  }
  .nav-icon {
    display: none;
  }
  .discount {
    margin-bottom: 38px;
  }
}
@media (min-width: 992px) {
  :root {
    /* font size */
    --fs-sm1: 16px;
    --fs-sm2: 24px;
    --fs-md1: 32px;
    --fs-md2: 52px;
    --fs-lg: 64px;
    --fs-xl: 80px;
  }
  /* line height */
  .l-h-83 {
    line-height: 83.2px;
  }
  .l-h-100 {
    line-height: 100px;
  }
  /* header */
  .detergent {
    position: absolute;
    max-width: unset;
    width: 531px;
    height: 648px;
    top: 78px;
    right: 0;
  }
  .header {
    height: 851px;
  }
  .hero-text {
    margin-top: -100px;
  }
  .star {
    width: 97px;
    height: 97px;
    top: -97px;
  }
  .wave1 {
    z-index: 1;
  }
  .headerArrow {
    width: 130px;
    height: 82px;
    right: 13%;
    top: 30%;
  }
}
@media (min-width: 1200px) {
  /* header */
  .headerArrow {
    right: 5%;
    top: 56%;
  }
}
@media (min-width: 1441px) {
  /* header */
  .wave1 {
    height: 120px;
  }
  .detergent {
    top: 50%;
    transform: translateY(-50%);
  }
}
